<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- your web.xml content here -->

	<servlet>
		<servlet-name>JAX-RS-Examples</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
				chen.jax.rs.examples.BasicExamples,
				org.glassfish.jersey.jackson.JacksonFeature,
				chen.jax.rs.examples.IllegalArgumentExceptionMapper
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>JAX-RS-Examples</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

</web-app>